*Debug
build
Debug
DebugConfig
documentation/html
*.pyc
*.map
*.dblite
*.elf

*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d
tools/kconfig-frontends/kconfig-mconf
packages
cconfig.h
GPUCache

